/************************************
*
* Author: Olga Grochowska 
* Date: 21.04.2022
*
************************************/

/* TARGETTING ELEMENTS / TAGS */ 

h2{
    font-size: 24px;
}
#content-header{
    font-size: 18px;
    color: red;
}

span{
    display: block;
    color: blue;
}

.deck{
    color: red;
}